{% set page_title = "Home" %}
{% extends "Layout.html" %}
{% block content %}

<div class="text-center mt-5 mb-3" style="min-height: 60vh">
    <img class="img-fluid rellax mb-4" data-rellax-speed="-3" src="static/image/logo.png" style="max-width: 300px;"/>
    <h1 class="display-4 rellax" data-rellax-speed="1">GDMx</h1>
    <p class="mt-3">Same Old, renewed.</p>
    <a href="downloads" class="btn btn-primary mt-4 download-btn">Download Now</a>
</div>

<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-4 mb-4">
            <div class="pricing-card p-4 shadow-lg text-center">
                <h3 class="pricing-title">Tropo</h3>
                <p class="pricing-price">$5 per Month</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="pricing-card p-4 shadow-lg text-center">
                <h3 class="pricing-title">Meso</h3>
                <p class="pricing-price">$10 per Month</p>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="pricing-card p-4 shadow-lg text-center">
                <h3 class="pricing-title">Exo</h3>
                <p class="pricing-price">$20 per Month</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

<!-- Include site.js -->
<script src="{{ url_for('static', filename='js/site.js') }}"></script>
