{% set page_title = "Login" %}
{% extends "layout.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <!--            <div class="card-header">-->
            <!--                <h4 class="text-center">Login</h4>-->
            <!--            </div>-->
            <div class="card-body">
                <form method="post">
                    <div class=" mb-2">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class=" mb-2">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control mb-2" id="password" name="password" required>
                        <p><a href="{{ url_for('forgot_password') }}">Forgot Password?</a></p>
                    </div>
                    <div class="text-end">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket me-2"></i>Login
                        </button>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center mb-0">
                <p class="mb-0">Don't have an account? <a href="{{ url_for('register') }}">Register here</a></p>
            </div>
        </div>
        {% if error %}
        <p class="mtk14 mb-0 ms-2 my-2">{{ error }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}
